:root {
  --secondary-title-color: #ffffff;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  color: #212121;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.web-logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.71;
  color: var(--accent-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
/* HEADER */

.header-accent {
  color: #000000;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link.current {
  color: var(--accent-color);
}

.left-link {
  color: inherit;
}

.right-link {
  color: var(--secondary-text-color);
}

/* -----------HERO------------ */

.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.hero-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

/* ------------SPECIAL--------------- */

.special-type {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.special-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* --------------JOB---------------- */

/* ----------TEAM------------- */

.team {
  background-color: #f5f4fa;
}

.team-leaders {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

/* ---------PORTFOLIO */

.portfolio-btn.current {
  color: #ffffff;
  background-color: var(--accent-color);
}

.cards-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* FOOTER */

.footer {
  background-color: #2f303a;
}

.footer-accent {
  color: #ffffff;
}

.address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.contacts-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
